h2{
	text-align: center;
	text-transform: capitalize;
}
#center
{
	width: 50%;
	margin-left: 16%;
	margin-top: 16%;
}
body
{
	background-color: white;
	/*background: url(../img/bg2.jpg);*/
	background-size: cover;
	font-family: sans-serif;
	color: black;
}
h1
{
	font-size: 40px;
	color: black;
	text-shadow: 1px 1px 3px white;
}
#click
{
	text-decoration: none;
	color: white;
	background-color: #b60202;
	padding: 10px;
	border-radius: 10%;
	margin-left: 20%;
}
#click:hover
{
	color: #b60202;
	background-color: #fffb08;
}
#icon
{
	/*margin: -9.55% 94%;*/
	width: 10%;
	/*background-color: red;*/
}

/* style for new staff */
.container{
	width: 70%;
}
a{
	padding: 10px;
	font-weight: 60px;

}
a:hover{
	text-decoration: none;
}

.color{
	color: black;
}

